[user]
	name = Christopher Riebs
	email = criebs@cmdagency.com
[alias]
	co = checkout
	s = status
	cob = checkout -B
	diffn = diff --name-only
[init]
	defaultBranch = master
[core]
	excludesfile = /Users/criebs/.gitignore
[pull]
	rebase = preserve
