[user]
	name = Kallisti
	email = kallisti@kallisti.io
[alias]
	co = checkout
	s = status
	cob = checkout -B
	diffn = diff --name-only
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/kallisti/.gitignore
[pull]
	rebase = true
